@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

$negro: #000000;
$blanco: #FFFFFF;
$colorPrincipal: #067d77;
$colorSecundario: #9d078c;
$colorHeader: #9d078c;
$fondoLogo: #d830c4;
$gris: rgb(25, 24, 25);

$fuentePrincipal: 'PT+sans';




