@media (min-width: 480px){
    .logo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        margin: 1rem 2rem 0 2rem;
        
        img{
            width: 20rem;
            height: 20rem;
            background-color: $fondoLogo;
            background-size: cover;
            clip-path: ellipse(13.5rem 11rem at center);
            padding: 2rem;
    }
    
    }

    .logo1{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        margin: 1.5rem 2rem 2rem 2rem;
        img{
            width: 20rem;
            height: 20rem;
            background-color: $fondoLogo;
            background-size: cover;
            clip-path: ellipse(13.5rem 11rem at center);
            padding: 2rem;
    }
    }
}

@media(max-width: 480px){
.logo-responsive{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 2rem 1rem 2rem;
    img{
        width: 10rem;
        height: 10rem;
        background-color: $fondoLogo;
        clip-path: ellipse(6.8rem 6rem at center);
    }
}
} 