
@media (min-width: 480px){
.video{
    position: relative;
    background: rgb(143,13,64);
    background: linear-gradient(0deg, rgba(143,13,64,0.8856792717086834) 0%, rgba(0,0,0,1) 42%);
    
    .overlay{
        position: absolute;
    }
    video{
        width: 100%;
        height: 100%;
        display: block;
    }

    
}
.contenido-video{
    z-index: 10;
    margin-left: 105rem;
    margin-top: 10rem;

    h2{
        color: $blanco;
        font-size: 6rem;
        margin: 0;
    }
    p{
        background-color: $colorSecundario;
        display: inline-block;
        padding: 1rem 2rem;
        color: $blanco;
        font-weight: bold;
        font-size: 2.4rem;
        margin: 0;
    }
}}

@media (max-width: 480px){
.video{
    position: relative;
    .overlay{
        position: absolute;
    }video{
        width: 100%;
        height: 50rem;
        object-fit: cover;
        object-position: 44.5% 50%;
    }
}
.contenido-video{
    z-index: 10;
    margin-top: 25rem;
    h2{
        color: transparent;
    }
    p{
        color: transparent;
    }
}

}