form{
    font-size: 2rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    fieldset{
        width: 40rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        legend{
            margin-bottom: 3rem;
            text-align: center;
        }
        label{
            margin-bottom: 1rem;
        }
        input{
            width: 90%;
            height: 3rem;
        }
        textarea{
            width: 35rem;
            height: 15rem;
            resize: none;
            margin-bottom: 2rem;
        }
    }
}


